.card {
    display: grid;
    place-content: center;
    min-width: 50vw;
    min-height: 50vh;
    background-color: rgba(203, 203, 203, 0.488);
    border-radius: 1rem;
    box-shadow: 0 0 5rem rgba(99, 112, 171, 0.3);
    font-size: 2rem;
}